In [1]:
import pandas as pd

In [2]:
originaldf = pd.read_csv("customer_shopping_behavior.csv")
df = originaldf.copy()

                                    Exploratory data analysis

In [3]:
df.head()
df.tail()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.describe(include="all")

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [6]:
#checking for duplicated records in custome id field(must be unique).

df["Customer ID"].duplicated().sum()

np.int64(0)

In [7]:
#checking null values.

df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [8]:
df["Category"].unique()

array(['Clothing', 'Footwear', 'Outerwear', 'Accessories'], dtype=object)

In [9]:
#will fill null values in review rating by respective medians of each category.

df["Review Rating"] = df.groupby("Category")["Review Rating"].transform(lambda x: x.fillna(x.median()))#x represents the pandas series of each Category

In [10]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [11]:
#making column names lower cases and removing spaces from column names.

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")

In [12]:
df = df.rename(columns={"purchase_amount_(usd)":"purchase_amount"})

In [13]:
#create a column age_group

labels = ['Young Adult','Adult','Middle-Aged','Senior']
df['age_group'] = pd.qcut(df["age"], q=4, labels=labels)    #divide all records into 4bins having same number of values.

In [14]:
df[["age","age_group"]].head(10)

   age    age_group
0   55  Middle-Aged
1   19  Young Adult
2   50  Middle-Aged
3   21  Young Adult
4   45  Middle-Aged
5   46  Middle-Aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-Aged

In [15]:
df["frequency_of_purchases"].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [16]:
#create column purchase_frequency_days.
frequency_mapping = {
    "Fortnightly": 14,
    "Weekly": 7,
    "Monthly": 30,
    "Quarterly": 90,
    "Bi-Weekly": 14,
    "Annually": 365,
    "Every 3 Months": 90
}
df["purchase_frequency_days"] = df["frequency_of_purchases"].map(frequency_mapping)

In [17]:
df[["frequency_of_purchases","purchase_frequency_days"]].head(10)

  frequency_of_purchases  purchase_frequency_days
0            Fortnightly                       14
1            Fortnightly                       14
2                 Weekly                        7
3                 Weekly                        7
4               Annually                      365
5                 Weekly                        7
6              Quarterly                       90
7                 Weekly                        7
8               Annually                      365
9              Quarterly                       90

In [18]:
(df["discount_applied"]==df["promo_code_used"]).all()    #result is true => both columns are exactly same. REMOVE ONE

np.True_

In [19]:
df = df.drop(columns="promo_code_used", axis=1)    #promo_code_used removed

                                               Analysis

1. Revenue by Gender - Compared total revenue generated by male vs. female customers

In [20]:
df.groupby("gender")["purchase_amount"].sum()

gender
Female     75191
Male      157890
Name: purchase_amount, dtype: int64

2. High-Spending Discount Users - Identified customers who used discounts but still spent above the average purchase amount.

In [21]:
discount_map = {
    "yes": 1,
    "no": 0
}

df["discount_applied"] = (
    df["discount_applied"]
    .astype("string")
    .str.strip()
    .str.lower()
    .map(discount_map)
)

df["discount_applied"].unique()

array([1, 0])

In [22]:
#average purchase ammount.

average_purchase_amount = df["purchase_amount"].mean()
high_spending_customers = df.loc[(df["discount_applied"]==1)&(df["purchase_amount"]>average_purchase_amount)]    #this may through error by giving 0 records since discount_applied column may not be pure boolean.

In [23]:
high_spending_customers.count()

customer_id                839
age                        839
gender                     839
item_purchased             839
category                   839
purchase_amount            839
location                   839
size                       839
color                      839
season                     839
review_rating              839
subscription_status        839
shipping_type              839
discount_applied           839
previous_purchases         839
payment_method             839
frequency_of_purchases     839
age_group                  839
purchase_frequency_days    839
dtype: int64

3. Top 5 Products by Rating - Found products with the highest average review ratings.

In [24]:
df.groupby("item_purchased")["review_rating"].mean().sort_values(ascending=False).head(5)

item_purchased
Gloves     3.861429
Sandals    3.844375
Boots      3.818750
Hat        3.801299
Skirt      3.784810
Name: review_rating, dtype: float64

4. Shipping Type Comparison - Compared average purchase amounts between Standard and Express shipping

In [25]:
df.groupby("shipping_type")["purchase_amount"].mean()

shipping_type
2-Day Shipping    60.733652
Express           60.475232
Free Shipping     60.410370
Next Day Air      58.631173
Standard          58.460245
Store Pickup      59.893846
Name: purchase_amount, dtype: float64

In [26]:
#if only standard and express.

shipping_comparison = (
    df[(df["shipping_type"]=="Standard")|(df["shipping_type"]=="Express")]
    .groupby("shipping_type")["purchase_amount"]
    .mean()
)
#OR
shipping_comparison = (
    df[df["shipping_type"].isin(["Standard", "Express"])]
    .groupby("shipping_type")["purchase_amount"]
    .mean()
)

shipping_comparison

shipping_type
Express     60.475232
Standard    58.460245
Name: purchase_amount, dtype: float64

5. Subscribers vs. Non-Subscribers - Compare average spend and total revenue across subscription status.

In [27]:
subscription_comparison = (
    df.groupby("subscription_status")["purchase_amount"].agg(avg_spend="mean",total_revenue="sum")
)

subscription_comparison

                     avg_spend  total_revenue
subscription_status
No                   59.865121         170436
Yes                  59.491928          62645

6. Discount-Dependent Products - Identified 5 products with the highest percentage of discounted purchases.

In [28]:
discounted_df = df[df["discount_applied"]==1]

In [29]:
discounted_count_df = discounted_df.groupby("item_purchased").size()

In [30]:
total_count_df = df.groupby("item_purchased").size()

In [31]:
discounted_percentage = (discounted_count_df/total_count_df*100).round(2).sort_values(ascending=0).head(5)

In [32]:
discounted_percentage    #this tells that 50% of hats among omong total hat sold we sold on a discount.

item_purchased
Hat         50.00
Sneakers    49.66
Coat        49.07
Sweater     48.17
Pants       47.37
dtype: float64

In [33]:
#OR
top_discounted_products = (
    df.groupby("item_purchased")["discount_applied"]
      .mean()            # SUM(discount_applied) / COUNT(*)
      .mul(100)          # * 100
      .round(2)          # ROUND(..., 2)
      .sort_values(ascending=False)
      .head(5)           # LIMIT 5
)

top_discounted_products

item_purchased
Hat         50.00
Sneakers    49.66
Coat        49.07
Sweater     48.17
Pants       47.37
Name: discount_applied, dtype: float64

7. Customer Segmentation - Classified customers into New, Returning, and Loyal segments based on purchase history.

In [34]:
df["customer_segment"] = pd.cut(df["previous_purchases"],
                                bins=[-1, 1, 10, float("inf")],
                                labels=["New", "Returning", "Loyal"]
                                )    #creating a new column.

In [35]:
df.groupby("customer_segment").size()
#OR
df["customer_segment"].value_counts()

C:\Users\tharn\AppData\Local\Temp\ipykernel_14292\1533252356.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("customer_segment").size()

customer_segment
Loyal        3116
Returning     701
New            83
Name: count, dtype: int64

8. Top 3 Products per Category - Listed the most purchased products within each category

In [36]:
df.groupby("category")["item_purchased"].value_counts().groupby(level=0).head(3)    #{.groupby(level=0).head(3)} => first 3 rows from EACH level-0 group

category     item_purchased
Accessories  Jewelry           171
             Belt              161
             Sunglasses        161
Clothing     Blouse            171
             Pants             171
             Shirt             169
Footwear     Sandals           160
             Shoes             150
             Sneakers          145
Outerwear    Jacket            163
             Coat              161
Name: count, dtype: int64

9. Repeat Buyers & Subscriptions - Checked whether customers with >5 purchases are more likely to subscribe.

In [37]:
df[df["previous_purchases"]>5].groupby("subscription_status").size()

subscription_status
No     2518
Yes     958
dtype: int64

10. Revenue by Age Group - Calculated total revenue contribution of each age group.

In [38]:
df.groupby("age_group")["purchase_amount"].sum()

C:\Users\tharn\AppData\Local\Temp\ipykernel_14292\1596394312.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("age_group")["purchase_amount"].sum()

age_group
Young Adult    62143
Adult          55978
Middle-Aged    59197
Senior         55763
Name: purchase_amount, dtype: int64

creating new updated database:

In [39]:
df.to_csv("customer_shopping_behavior_updated.csv", index=False)